<h1>About Nicole</h1>
<p>I'm a freelance social media consultant to businesses, entrepreneurs and non-profit communities. I show people how to use social media effectively, creatively and resourcefully.</p>

<p>I've managed social media for ad agencies, large businesses, SMEs, not-for-profits, lobby campaigns, job seekers, students and teachers. My main interests are in content marketing as well as digital reputation management for individuals.</p>

<p>More info about me at <a href="http://nicolejensen.com">my website.</a></p>
